td
{
    padding: 5px;
    border: 1px solid;
    white-space: pre;
}

#table
{
    -webkit-print-color-adjust:exact;
    margin-top: 20px;
}

@media print
{
    button
    {
        display: none;
    }
}